category:<input type="text" [(ngModel)]="category">
<ul>
    <div *ngFor="let u of liste; let j=index">
    <li *ngIf="u.accountCategory==category">
       
         **{{j}}** {{u.id}} - {{u.firstName}} - <img [src]="u.picture">
         <button [disabled]="u.accountCategory ==='Admin'" (click)="delete(j)">Delete</button>
         <button *ngIf="u.accountCategory !='Admin'" (click)="delete(j)">Delete</button>
         
        
    </li>
</div>
<!--ghidmti ena-->
   <!-- <input type="text" [(ngModel)]='property'>
    <button (click)="cherche()">cherche</button>
    <p>{{message}}</p> -->
   
</ul>

<button (click)="addUser()">add</button>
<app-add-user></app-add-user>