
<!--
  <div class="container">
  <div class="container" id="body"> 
    <app-navbar></app-navbar>
    <app-slide></app-slide>
    <app-accounts></app-accounts>
    <app-listeusercomponent></app-listeusercomponent>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>-->

<!-- travail change dans la 4eme worke-->

<div class="container">
  <div class="container" id="body">
    <!---start navbar--->
    <app-navbar></app-navbar>
    <!---end navbar--->
  </div>
  <router-outlet></router-outlet>
  <!-----Footer Section------>
  <footer>
    <app-footer></app-footer>
  </footer>
  <!-----End Footer Section------>
</div>