<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Universite</th>
        <th scope="col">Non universite</th>
        <th scope="col">Adresse universite</th>
        <th scope="col">Foyer</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let universite of list">
        
        <th scope="row">{{universite.iduniveriste}}</th>
        <td>{{universite.nomUniversite}}</td>
        <td>{{universite.addresse}}</td>
        <td>{{universite.foyer}}</td>
        <td><button type="button" (click)="deleteUniversite($event,universite)"  class="btn btn-danger">Delete</button></td>
    <td><button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" information(universite)">Update</button></td>
      </tr>
     
    </tbody>
  </table>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update universite</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         

<body>
  <form #f="ngForm">
      <div class="form-group">
        <label for="exampleInputPassword1">nom de l'universite</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="nomUniversite" [(ngModel)]="universitrtoupdate.nomUniversite" #nomuniver="ngModel"  placeholder="nom"  pattern="[a-zA-Z]*" required>
        <div *ngIf="nomuniver.invalid && nomuniver.touched">
          <div *ngIf="nomuniver.errors['pattern']">
              affiche que de l'ettre 
        </div>
        <div *ngIf="nomuniver.errors['required']">
          le champ est obligatoir 
      </div>
      </div>
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">adresse de l'universite</label>
          <input type="text" class="form-control" id="exampleInputPassword1"name="addresse" [(ngModel)]="universitrtoupdate.addresse" #addressuniver="ngModel" placeholder="adresse">
      </div>
      <button  class="btn btn-primary" (click)=" updateUniversite()" [disabled]="f.invalid">update</button>
  </form>
  
  </body>
  
          
        </div>
       
      </div>
    </div>
  </div>
  
  